.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.addItem-wrapper{
  width: 100%;
  display: inline-block;
}
.bg-color{
  background-color: #9ca1a5;
  padding: 30px;
}
.pagination-wrapper {
  overflow-x:auto;
}

.pagination {
  justify-content: center;
  margin:30px;
}

.data-slice {
  margin-top: 15px;
}
@media(min-width:768px){
  .floatLeft{
    float: left;
  }
  .width20Per{
    width: 20%;
  }
  .ml{
    margin-left: 30px;
  }
}